<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script type="text/javascript" src="/scripts/menu.js"></script>
 <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body style="background-color: #f1f1f1;">

  <header>
    <section class="showcase-area" id="showcase">
            <div class="showcase-container">
              <h1 class="main-title" id="home">Burger Joint</h1>
            </div>
          </section>
  </header>

  <main class="menu-container">
    <section class="menu">
      <h2 class="food-menu-heading">Menu</h2>
      <h4 class="food-menu-subheading">B u r g e r s</h4>
      <div class="row menu-list">

        <div>
          <% for (item of menuItems) { %>
            <% if (item.category === 'Burgers') { %>
              <section id="food-menu">
                <div class="food-menu-container container">
                    <div class="food-menu-item">
                    <div class="food-img">
                      <img src="<%= item.photo_url %>" alt="drink image" />
                    </div>
                    <div class="food-description">
                      <h4 class="food-title"> <%= item.name %> </h4>
                      <p>
                        <%= item.description %>
                      </p>
                      <span class="food-price-symb">$</span>
                      <span class="food-price"><%= item.price %></span>
                 <!-- <a href="#" class="btn btn-danger mt-3" id="<%= item.id %>" ><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                 <button id="<%= item.id %>" class="item-<%= item.id %> add-cart-button">Add to Cart</button>
                    </div>
                  </div>
                </div>
                </section>
              <% } %>
            <% } %>
        </div>

        <div>
          <h4 class="food-menu-subheading">S i d e s</h4>
            <% for (item of menuItems) { %>
              <% if (item.category === 'Sides') { %>
                <section id="food-menu">
                  <div class="food-menu-container container">
                      <div class="food-menu-item">
                      <div class="food-img">
                        <img src="<%= item.photo_url %>" alt="drink image" />
                      </div>
                      <div class="food-description">
                        <h4 class="food-title"> <%= item.name %> </h4>
                        <p>
                          <%= item.description %>
                        </p>
                        <span class="food-price-symb">$</span>
                        <span class="food-price"><%= item.price %></span>
                   <!-- <a href="#" class="btn btn-danger mt-3" id="<%= item.id %>" ><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                   <button id="<%= item.id %>" class="item-<%= item.id %> add-cart-button">Add to Cart</button>
                      </div>
                    </div>
                  </div>
                  </section>
              <% } %>
            <% } %>
        </div>
        <div>
          <h4 class="food-menu-subheading">D r i n k s</h4>
            <% for (item of menuItems) { %>
              <% if (item.category === 'Drinks') { %>
                <section id="food-menu">
                  <div class="food-menu-container container">
                      <div class="food-menu-item">
                      <div class="food-img">
                        <img src="<%= item.photo_url %>" alt="drink image" />
                      </div>
                      <div class="drinks-container">
                      <div class="food-description">
                        <h4 class="food-title"> <%= item.name %> </h4>
                        <p>
                          <%= item.description %>
                        </p>
                        <span class="food-price-symb">$</span>
                        <span class="food-price"><%= item.price %></span>
                   <!-- <a href="#" class="btn btn-danger mt-3" id="<%= item.id %>" ><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                   <button id="<%= item.id %>" class="item-<%= item.id %> add-cart-button">Add to Cart</button>
                      </div>
                    </div>
                    </div>
                  </div>
                  </section>
                <% } %>
              <% } %>
        </div>
    </section>

    <section class="checkout cart">
      <h3 class="checkout-title">Cart</h3>

      <div id="cart-list">

      </div>
      <div class="subtotal">Subtotal: $<span id="subtotal-price">0.00</span></div>
      <!-- <a href="/order_checkout" id="checkout">CHECKOUT</a> -->
      <br/>
      <!-- <a href="#" class="btn btn-danger mt-3" id="checkout"><i class="fas fa-shopping-cart"></i>Checkout</a> -->
      <button id="checkout">CHECKOUT</button>
    </section>
  </main>
</body>

</html>
