<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
</head>

<body style="background-color: powderblue;">

  <header>
    <h1 class="restaurant-name">Burger Joint 🍔</h1>
    <h2 class="slogan" style="font-family: fantasy;">Everything Burgers. Everything Fries.Everything Delicious!</h2>
  </header>

  <main class="menu-container">
    <section class="menu">
      <h2 class="menu-title">Menu</h2>
      <div class="row menu-list">
        <div class="column menu-burgers" style="background-color:#aaa; padding: 0.8em">
          <h2>Burgers</h2>
          <% for (item of menuItems) { %>
            <% if (item.category === 'Burgers') { %>
              <div id="item-<%= item.id %>" class="menu-item">
                <img src="<%= item.photo_url %>" alt="burger image">
                <h4 class="item-name"><%= item.name %></h4>
                <p><%= item.description %></p>
                <div class="item-price"><%= item.price %></div>
                <button id="item-<%= item.id %>" class="add-cart-button">Add to Cart</button>
              </div>
              <% } %>
            <% } %>
        </div>
        <div class="column menu-sides" style="background-color:#aaa; padding: 0.8em">
          <h2>Sides</h2>
            <% for (item of menuItems) { %>
              <% if (item.category === 'Sides') { %>
                <div id="item-<%= item.id %>" class="menu-item">
                  <img src="<%= item.photo_url %>" alt="side image">
                  <h4 class="item-name"> <%= item.name %> </h4>
                  <p><%= item.description %></p>
                  <div class="item-price"><%= item.price %></div>
                  <button id="item-<%= item.id %>" class="add-cart-button">Add to Cart</button>
                </div>
              <% } %>
            <% } %>
        </div>
        <div class="column menu-drinks" style="background-color:#aaa; padding: 0.8em">
          <h2>Drinks</h2>
            <% for (item of menuItems) { %>
              <% if (item.category === 'Drinks') { %>
                <div id="item-<%= item.id %>" class="menu-item">
                  <img src="<%= item.photo_url %>" alt="drink image">
                  <h4 class="item-name"> <%= item.name %> </h4>
                  <p><%= item.description %></p>
                  <div class="item-price"><%= item.price %></div>
                  <button id="item-<%= item.id %>" class="add-cart-button">Add to Cart</button>
                </div>
              <% } %>
            <% } %>
        </div>
    </section>

    <section class="checkout cart">
      <h3 class="checkout-title">CART</h3>

      <div id="cart-list">
        <div><span>Item</span><span>Price</span><span>Qty</span><span>Total</span></div>
      </div>
      <div class="subtotal">Subotal: $<span id="subtotal-price">0.00</span></div>
      <!-- <a href="/order_checkout" id="checkout">CHECKOUT</a> -->
      <button id="checkout">CHECKOUT</button>
    </section>
  </main>
</body>

</html>
